<?xml version="1.0"?>
<!--
Copyright (C) 2020, Raffaello Bonghi <raffaello@rnext.it>
All rights reserved
Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:
1. Redistributions of source code must retain the above copyright 
   notice, this list of conditions and the following disclaimer.
2. Redistributions in binary form must reproduce the above copyright
   notice, this list of conditions and the following disclaimer in the
   documentation and/or other materials provided with the distribution.
3. Neither the name of the copyright holder nor the names of its 
   contributors may be used to endorse or promote products derived 
   from this software without specific prior written permission.
 
THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND 
CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, 
BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS 
FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, 
SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; 
OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, 
WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE 
OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, 
EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
-->
<launch>
    <arg name="motors"   default="false" />
    <arg name="zed"      default="false" />
    <arg name="led"      default="false" />


    <!-- Diagnostic Aggregator -->
    <node pkg="diagnostic_aggregator" type="aggregator_node" name="diagnostic_aggregator">
        <rosparam command="load" file="$(find panther_drivers)/config/diagnostics.yaml"/>
    </node>
    <!-- Load robot description -->
    <include file="$(find panther_description)/launch/description.launch" />
    
    <group unless="$(arg motors)">
        <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" output="screen" />
    </include>
    <!-- LIDAR sensor -->
    <include file="$(find panther_drivers)/launch/driver/rplidar.launch" />
    <!-- IMU sensor -->
    <include file="$(find panther_drivers)/launch/driver/razor_imu.launch" />
    <!-- Audio controller -->
    <include file="$(find panther_drivers)/launch/driver/audio.launch" />
    <!-- ZED camera -->
    <group if="$(arg zed)">
        <include file="$(find zed_wrapper)/launch/zed2.launch">
            <arg name="publish_urdf"     value="false" />
        </include>
        <!-- TODO: Fix depthimage_to_laserscan -->
        <group if="$(arg scan_processing)">
            <node name="depthimage_to_laserscan" pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" output="screen">
                <param name="scan_height" value="7"/>
                <param name="output_frame_id" value="$(arg cloud_frame_id)"/>
                <param name="range_min" value="0.1"/>
                <remap from="image" to="depth/depth_registered"/>
                <remap from="camera_info" to="depth/camera_info"/>
                <remap from="scan" to="$(arg scan_topic)"/>
            </node>
        </group>
    </group>
    <!-- LED effect controller -->
    <group if="$(arg led)">
        <include file="$(find panther_led_controller)/launch/led_controller.launch">
            <arg name="twist"            value="/panther_velocity_controller/cmd_vel" />
        </include>
    </group>
    <!-- Launch joystick bridge -->
    <!--<node pkg="panther_hardware" type="joystick_bridge.py" name="panther_audio" output="screen">
      <rosparam command="load" file="$(find panther_hardware)/config/joystick.yaml" />
    </node>
    -->
</launch>
